flows(send).json
[{"id":"83decbd1.b946b","type":"inject","z":"51466e46.72aaf8","name":"","topic":"Nachricht an Mediola","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["7128c084.75b31"]]},{"id":"87118c54.9bf14","type":"http request","z":"51466e46.72aaf8","name":"Mediola Cloud Zugriff","method":"POST","ret":"txt","paytoqs":false,"url":"https://xxxx.mediola.com/rapi/yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy/cmd","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":440,"wires":[["2b09aa7e.087a76"]]},{"id":"2b09aa7e.087a76","type":"debug","z":"51466e46.72aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":440,"wires":[]},{"id":"7128c084.75b31","type":"function","z":"51466e46.72aaf8","name":"Bad Licht an Mediola","func":"msg.payload = \"eyJYQ19GTkMiOiJTZW5kUk0iLCJkZXZpY2UiOjQxLCJjb21tYW5kIjp7InZhbHVlIjoib24ifX0=\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["87118c54.9bf14"]]}]